<div class="container-fluid">
  <div class="row">
    
    <div class="col-2">
        <app-sidenav></app-sidenav>       
    </div>
    <div class="col-10 content">
      <div class="title borde-title">
        Contratos / Datos Generales
      </div>
      <div class="content-section  overflow-auto">
        
        <div id="accordion">
          <div class="card well well-sm">
            <div class="card-header well well-sm" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Informaci&oacute;n General
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <table id="responsive-example-table" class="large-only" cellspacing="0">
                      <tbody>
                        <tr align="left">
                          <th width="25%"></th>
                          <th width="20%"></th>
                          <th width="4%"></th>
                          <th width="4%"></th>
                          <th width="25%"></th>
                          <th width="31%"></th>
                          <th width="10%"></th>
                        </tr>
                        <tr>
                          <td>Something</td>
                          <td>3.375%</td>
                          <td style="border-right: 5px #fff solid"></td>
                          <td></td>
                          <td>gfjhgfhg</td>
                          <td>fjgfhjg</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Something Else</td>
                          <td>2.750%</td>
                          <td style="border-right: 5px #fff solid"></td>
                          <td></td>
                          <td>nmbmbnb</td>
                          <td>jhgjhg</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Another Thing</td>
                          <td>3.375%</td>
                          <td style="border-right: 5px #fff solid"></td>
                          <td></td>
                          <td>kfkjfkj</td>
                          <td>gjkgjgkj</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Thing w/Less Stuff</td>
                          <td></td>
                          <td style="border-right: 5px #fff solid"></td>
                          <td></td>
                          <td>gkjgkhj</td>
                          <td>jhgkjgjh</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Last Thing</td>
                          <td></td>
                          <td style="border-right: 5px #fff solid"></td>
                          <td></td>
                          <td>bmjgjgkj</td>
                          <td>hgkjgkjh</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Another Thing</td>
                          <td>3.375%</td>
                          <td style="border-right: 5px #fff solid"></td>
                          <td></td>
                          <td>bjobljjgj</td>
                          <td>fjhfghf</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Thing w/Less Stuff</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>st Thing</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>er Thing</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>  
                </div>                                  
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Unidad Consolidadora
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <table id="responsive-example-table" class="large-only" cellspacing="0">
                      <tbody>
                        <tr align="left">
                          <th width="25%"></th>
                          <th width="40%"></th>
                          <th width="10%"></th>
                          <th width="10%"></th>
                          <th width="10%"></th>
                          <th width="10%"></th>
                          <th width="10%"></th>
                        </tr>
                        <tr>
                          <td>Nombre Unidad</td>
                          <td>U.A.S.</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Descripci&oacute;n</td>
                          <td>Unidad de Adquisici&oacute;n de Servicios</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>e-mail</td>
                          <td>uas@espol.edu.ec</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>                        
                      </tbody>
                    </table>
                  </div>  
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Informaci&oacute;n Referencial
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <table id="responsive-example-table" class="large-only" cellspacing="0">
                      <tbody>
                        <tr align="left">
                          <th width="25%"></th>
                          <th width="40%"></th>
                          <th width="10%"></th>
                          <th width="10%"></th>
                          <th width="10%"></th>
                          <th width="10%"></th>
                          <th width="10%"></th>
                        </tr>
                        <tr>
                          <td>Nombre Unidad</td>
                          <td>U.A.S.</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Descripci&oacute;n</td>
                          <td>Unidad de Adquisici&oacute;n de Servicios</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>e-mail</td>
                          <td>uas@espol.edu.ec</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>                        
                      </tbody>
                    </table>
                  </div>  
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Evidencias
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <table id="responsive-example-table" class="large-only" cellspacing="0">
                      <tbody>
                        <tr align="left">
                          <th width="25%"></th>
                          <th width="12%"></th>
                          <th width="12%"></th>
                          <th width="20%"></th>
                          <th width="20%"></th>
                          <th width="18%"></th>
                          <th width="12%"></th>
                        </tr>
                        <tr>
                          <td>Archivo Proceso</td>
                          <td>Contrato</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>archivo</td>
                          <td></td>
                        </tr>                        
                      </tbody>
                    </table>
                  </div>                    
                </div>               
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>  
</div>

<!--
<table id="responsive-example-table" class="large-only" cellspacing="0">
    <tbody>
      <tr align="left">
        <th width="30%">Stuff</th>
        <th width="12%">Rate</th>
        <th width="12%">Amount</th>
        <th width="12%">Points</th>
        <th width="12%">Number</th>
        <th width="18%">Type</th>
        <th width="12%">Name</th>
      </tr>
      <tr>
        <td>Something</td>
        <td>3.375%</td>
        <td>$123.12</td>
        <td>1.125</td>
        <td>4,000</td>
        <td>Potato</td>
        <td>Paul</td>
      </tr>
      <tr>
        <td>Something Else</td>
        <td>2.750%</td>
        <td>$345.23</td>
        <td>5</td>
        <td>180</td>
        <td>Spaceship</td>
        <td>Skippy</td>
      </tr>
      <tr>
        <td colspan="7" class="sub">Subgroup Header</td> 
      </tr>
      <tr>
        <td>Another Thing</td>
        <td>3.375%</td>
        <td>$563.12</td>
        <td>222</td>
        <td>60</td>
        <td>Gym Shoe</td>
        <td>George</td>
      </tr>
      <tr>
        <td>Thing w/Less Stuff</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Harmonica</td>
        <td>Helga</td>
      </tr>
      <tr>
        <td>Last Thing</td>
        <td></td>
        <td></td>
        <td></td>
        <td>4</td>
        <td>Meaning of Life</td>
        <td></td>
      </tr>
    </tbody>
  </table>

-->  